* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    font-size: 25px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

main {
    padding: 20px;
}

.ateliers {
    margin-top: 20px;
}

.atelier {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.atelier h3 {
    color: #333;
    font-size: 30px;
}

.atelier p {
    color: #666;
    font-size: 30px;
}

.atelier img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
}

footer {
    background-color: #d3f8f1;
    color: #be0909;
    text-align: center;
    padding: 10px;
  }
