/* Réinitialisation des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
}

nav ul li a:hover {
    color: #ffcc00;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    padding: 20px;
}

h1, h2, h3 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

/* Styles spécifiques pour les sections */
.conservatoire {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.conservatoire img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 20px;
}

.conservatoire h2 {
    color: #333;
}

.conservatoire h3 {
    color: #666;
}

.conservatoire p {
    color: #983030;
}

/* Styles pour la liste de conservatoires */
.conservatoires-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.conservatoire-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.conservatoire-item h3 {
    color: #444;
}

.conservatoire-item p {
    color: #666;
}

.conservatoire-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

footer {
    background-color: #d3f8f1;
    color: #be0909;
    text-align: center;
    padding: 10px;
  }
