/*titre*/

h1{
    text-align: center;

}


/*body*/

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: beige;
    background-size: cover; 
    margin: 0;
    padding: 0;
  }


h2 {
    padding: 5px;
    margin: 10px;
    font-weight: 0;
}

h3 {
    padding: 10px;
    margin: 10px;
}

p.intro {
    text-align: center;
    padding-top: 10px;
}

p {
    padding: 10px;
    margin: 10px;
    text-align: justify;
}



/*images*/

img {
    width: 400px;
    padding: 15px;
    margin-bottom: 10px;
}

